.body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header {
    position: absolute;
    height: 44px;
    width: 100%;
    background-color: #999;
    z-index: 4;
}

.logo {
	height: 44px;
	padding: 10px;
	font-weight: 700;
}

.header .logo {
	color: #233245;
}
.side-nav .logo {
	background-color: #233245;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #35475e;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}

.side-nav {
    position: absolute;
    width: 100%;
    background-color: #666;
    height: 100vh;
    z-index: 3;
    padding-top: 44px;
    display: none;
}
.side-nav.visible {
	display: block;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    padding: 20px 10px;
    border-bottom: 1px solid #333;
}

.side-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.side-nav ul li a i {
    color: #333;
}

.main-content {
    padding-top: 44px;
}

@media screen and (min-width: 600px) {
    .side-nav{
        width: 140px;
        display: block;
    }

    .side-nav ul li span {
        font-size: 16px;
    }

    .side-nav ul li i {
        padding: 5px;
    }

    .header a span {
        display: none;
    }

    .main-content {
        padding-left: 140px;
    }
}

@media screen and (min-width: 1000px) {
    .side-nav{
        width: 180px;
        display: block;
    }

    .side-nav ul li span {
        font-size: 18px;
    }

    .side-nav ul li i {
        padding: 5px;
    }

     .side-nav .logo i {
        padding-left: 0;
    }
    .side-nav .logo span {
        display: inline-block;
    }
    .header a span {
        display: none;
    }

    .main-content {
        padding-left: 180px; 
    }
}

























